*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#1a73e8;
}

.menu{
    display:flex;
    list-style:none;
    gap:25px;
    align-items:center;
}

.contact-btn{
    padding:8px 18px;
    border:none;
    background:#1a73e8;
    color:white;
    border-radius:6px;
}

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1550751827-4bd374c3f58b");
    background-size:cover;
    background-position:center;
    color:white;
    display:flex;
    align-items:center;
    padding-left:80px;
}

.hero-text h1{
    font-size:48px;
    margin-bottom:15px;
}

.learn-btn{
    padding:12px 25px;
    background:#1a73e8;
    color:white;
    border:none;
    margin-top:15px;
}


.gallery{
    padding:60px;
    text-align:center;
}

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-top:30px;
}

.gallery-grid img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}


.roi{
    background:linear-gradient(90deg,#5b7cfa,#7a5cff);
    color:white;
    padding:60px;
    text-align:center;
}

.roi-grid{
    display:flex;
    gap:20px;
    margin-top:25px;
}

.roi-card{
    background:rgba(255,255,255,0.2);
    padding:20px;
    border-radius:10px;
    flex:1;
}

.news{
    padding:60px;
    background:#f5f7fb;
    text-align:center;
}

.news-grid{
    display:flex;
    gap:20px;
    margin-top:30px;
}

.news-card{
    background:white;
    padding:15px;
    flex:1;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    border-radius:10px;
}

.news-card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:8px;
}


.services{
    padding:60px;
    text-align:center;
}

.service-box{
    display:flex;
    gap:25px;
    margin-top:30px;
}

.service{
    background:#f2f4f8;
    padding:30px;
    flex:1;
    border-radius:10px;
}

.service img{
    width:60px;
    margin-bottom:15px;
}


footer{
    background:#0b1c39;
    color:white;
    padding:50px;
}

.footer-grid{
    display:flex;
    justify-content:space-between;
}

.copy{
    text-align:center;
    margin-top:20px;
}
